select, form > div {
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
}

select {
    width: 83%;
}

form > div {
    width: 81%;
}

form > div {
    margin-bottom: 10px;
    overflow: auto;
}

.rate-value, .pitch-value {
    float: right;
    width: 5%;
    line-height: 1.5;
}

#rate, #pitch {
    float: right;
    width: 81%;
}
